<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<title>Dados de acesso</title>

<link href="/css/style.css" rel="stylesheet" />
<style type="text/css">
.col-12 {
	margin-top: 5px;
	margin-bottom: 5px;
}
</style>
</head>

<body>
	<div layout:fragment="content">

		<div class="page-header">
			<h1>Cadastro de Usuário</h1>
		</div>
		<div class="row">

			<form class="form-inline" method="POST" th:object="${usuario}"
				th:action="@{/salvar}" style="margin-left: 50px">

				<div class="row">
					<div class="col-12 md-8">
						<input type="text" class="form-inline" placeholder="Nome completo"
							th:field="*{name}">
					</div>
					<div class="col-12 md-8">
						<input type="text" class="form-inline" placeholder="Login"
							th:field="*{username}">
					</div>
										<div class="col-12 md-8">
						<input type="email" class="form-inline" placeholder="Senha"
							th:field="*{email}">
					</div>
					<div class="col-12 md-8">
						<input type="password" class="form-inline" placeholder="Senha"
							th:field="*{passwrod}">
					</div>
					<div class="col-12 md-8">
						<input type="submit" class="form-inline" placeholder="Salvar"
							value="Salvar">
					</div>
				</div>

			</form>
		</div>

	</div>
</body>
</html>